<mat-toolbar>
  <span>Role List</span>
  <span class="fill-space"></span>

  <mat-form-field class="form-filtering">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>

  <button mat-button routerLink="/users/roles/create">Add Role</button>
</mat-toolbar>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<div class="mat-elevation-z8" *ngIf="dataIsLoaded">
  <table mat-table [dataSource]="dataSource"  matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let roles" > {{roles.id}} </td>
    </ng-container>

    <ng-container matColumnDef="roleName">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Role name</th>
      <td mat-cell *matCellDef="let roles" > {{roles.role}} </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef > Update Role</th>
      <td mat-cell *matCellDef="let roles" >
        <button (click)="editRole(roles)" mat-raised-button>Update</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef > Delete Role</th>
      <td mat-cell *matCellDef="let roles" >
        <button (click)="deleteRole(roles)" color="warn" mat-raised-button>Delete</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </table>

</div>

<app-loading-spinner *ngIf="!dataIsLoaded">
</app-loading-spinner>
