<h2>Edit the information and click on "Update!</h2>
<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" [(ngModel)]="user.name" matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Surname</mat-label>
      <input type="text" [(ngModel)]="user.surname" matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="text" [(ngModel)]="user.email" matInput>
    </mat-form-field>
    <br>
  <button mat-button (click)="saveUser()" [disabled]="buttonDisabled">Update</button>
    <button mat-button (click)="close()">Cancel</button>
  </div>





