<mat-toolbar>
  <span>Stock Items List</span>
  <span class="fill-space"></span>

  <mat-form-field class="form-filtering">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>

  <button mat-button routerLink="/articles/list" *ngIf="getUserInfo().role.role!='ROLE_ADMINISTRATOR')">Add Stock Item
  </button>
</mat-toolbar>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> ID</th>
      <td *matCellDef="let stockItem" mat-cell> {{stockItem.id}} </td>
    </ng-container>

    <ng-container matColumnDef="cardCondition">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Card Condition</th>
      <td *matCellDef="let stockItem" mat-cell> {{stockItem.cardCondition}} </td>
    </ng-container>

    <ng-container matColumnDef="cardValue">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Card Value</th>
      <td *matCellDef="let stockItem" mat-cell> {{stockItem.cardValue}} </td>
    </ng-container>

    <ng-container matColumnDef="cardValueWhenSold">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Card Value When Sold</th>
      <td *matCellDef="let stockItem" mat-cell> {{stockItem.cardValueWhenSold}} </td>
    </ng-container>

    <ng-container matColumnDef="inShop">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Listed In Shop</th>
      <td *matCellDef="let stockItem" mat-cell> {{stockItem.inShop}} </td>
    </ng-container>

    <ng-container matColumnDef="comments">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Comments</th>
      <td *matCellDef="let stockItem" mat-cell> {{stockItem.comments}} </td>
    </ng-container>

    <ng-container matColumnDef="boosterSet">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Booster Set</th>
      <td *matCellDef="let stockItem" mat-cell> {{stockItem.boosterSet}} </td>
    </ng-container>

    <ng-container matColumnDef="cardName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Card Name</th>
      <td *matCellDef="let stockItem" mat-cell> {{stockItem.cardName}} </td>
    </ng-container>

    <ng-container matColumnDef="edition">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Edition</th>
      <td *matCellDef="let stockItem" mat-cell> {{stockItem.edition}} </td>
    </ng-container>

    <ng-container matColumnDef="rarity">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Rarity</th>
      <td *matCellDef="let stockItem" mat-cell> {{stockItem.rarity}} </td>
    </ng-container>

    <ng-container matColumnDef="cardType">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Card Type</th>
      <td *matCellDef="let stockItem" mat-cell> {{stockItem.cardType}} </td>
    </ng-container>

    <ng-container matColumnDef="storage">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Storage</th>
      <td *matCellDef="let stockItem" mat-cell> {{stockItem.storageName}} </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th *matHeaderCellDef mat-header-cell> Update Stock Item</th>
      <td *matCellDef="let stockItem" mat-cell>
        <button (click)="editStockItem(stockItem)" mat-raised-button>Update</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="addToSold">
      <th *matHeaderCellDef mat-header-cell> Add To Sold</th>
      <td *matCellDef="let stockItem" mat-cell>
        <button (click)="addToSold(stockItem)" color="accent" mat-raised-button>Add To Sold</button>
      </td>
    </ng-container>


    <ng-container matColumnDef="delete">
      <th *matHeaderCellDef mat-header-cell> Delete Stock Item</th>
      <td *matCellDef="let stockItem" mat-cell>
        <button (click)="deleteStockItem(stockItem)" color="warn" mat-raised-button>Delete</button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumnsStockItems" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumnsStockItems;" mat-row></tr>


  </table>

</div>

