<p>logout works!</p>
<div>
  <table *ngIf="isLoggedIn">
    <tr>
      <td>
        <a href="#" (click)="logoutClicked()" id="logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a><br
      /></td>
    </tr>
  </table>

  <table *ngIf="!isLoggedIn">
    <tr>
      <td>
        <a [routerLink]="['/login']" id="login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Login</a><br
      /></td>
    </tr>
  </table>
</div>

 <!-- <div class="example-container">

&lt;!&ndash;  <a href="#" (click)="logoutClicked($event)" id="logout" *ngSwitchCase="true">&ndash;&gt;
&lt;!&ndash;    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a><br />&ndash;&gt;

&lt;!&ndash;  <a [routerLink]="['/login']" id="login" *ngSwitchCase="false">&ndash;&gt;
&lt;!&ndash;    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Login</a>&ndash;&gt;

  <button mat-stroked-button color="primary" (click)="logoutClicked()">Logout</button>
</div>
-->
