<mat-toolbar>
  <h1>yugioh application</h1>
  <span class="spacer"></span>
  <app-logout></app-logout>
</mat-toolbar>


<router-outlet></router-outlet>


<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="navigateToHome()">Home</button>
  <button mat-menu-item (click)="navigateToUsers()"> Users</button>
</mat-menu>
<!--<a href="#" (click)="logoutClicked($event)" id="logout" *ngSwitchCase="true">-->
<!--  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a><br />-->
