<p>update-article-dialog works!</p>

<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>BoosterSet</mat-label>
    <input type="text" [(ngModel)]="article.boosterSet" matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>cardName</mat-label>
    <input type="text" [(ngModel)]="article.cardName" matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Edition</mat-label>
    <mat-select formControlName="edition">
      <mat-option *ngFor="let type of edition" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Rarity</mat-label>
    <mat-select formControlName="rarity">
      <mat-option *ngFor="let type of rarity" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Card Type</mat-label>
    <mat-select formControlName="cardType">
      <mat-option *ngFor="let type of cardType" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-button [mat-dialog-close]="article" (click)="saveArticle()">Update</button>
  <button mat-button (click)="close()">Cancel</button>
</div>


