<div class="update-dialog">
  <H2>Edit the information and click on "Update!"</H2>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Booster Set</mat-label>
      <input type="text" [(ngModel)]="article.boosterSet" matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card Name</mat-label>
      <input matInput type="text" [(ngModel)]="article.cardName">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Edition</mat-label>
      <mat-select [(ngModel)]="article.edition">
        <mat-option *ngFor="let type of edition" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Rarity</mat-label>
      <mat-select [(ngModel)]="article.rarity">
        <mat-option *ngFor="let type of rarity" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="article.cardType">
        <mat-option *ngFor="let type of cardType" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Count</mat-label>
      <input matInput type="text" [(ngModel)]="article.cardCount">
    </mat-form-field>
    <br>

      <td mat-cell *matCellDef="let row"> {{row.cardCount}} </td>

    <button mat-button [mat-dialog-close]="article" (click)="saveArticle()">Update</button>
    <button mat-button (click)="close()">Cancel</button>
  </div>
</div>

