<h2>Edit the information and click on "Update!</h2>

<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>BoosterSet</mat-label>
    <input type="text" [(ngModel)]="article.boosterSet" matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>cardName</mat-label>
    <input type="text" [(ngModel)]="article.cardName" matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Edition</mat-label>
    <mat-select [(ngModel)]="article.edition">
      <mat-option *ngFor="let type of edition" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Rarity</mat-label>
    <mat-select [(ngModel)]="article.rarity">
      <mat-option *ngFor="let type of rarity" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Card Type</mat-label>
    <mat-select [(ngModel)]="article.cardType">
      <mat-option *ngFor="let type of cardType" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-button (click)="saveArticle()" [disabled]="buttonDisabled">Update</button>
  <button mat-button (click)="close()">Cancel</button>
</div>


