<mat-card class="password-reset">
<form [formGroup]="form" *ngIf="!passwordReset">
  <div class="example-container">
    <mat-form-field appearance="fill" class="password-reset-input-field">
      <mat-label>New password</mat-label>
      <input type="password" formControlName="password" matInput>
    </mat-form-field>
    <br>
    <button [disabled]="!form.valid" mat-stroked-button color="primary" (click)="submit()">Submit</button>
  </div>
</form>


<div *ngIf="passwordReset">
  <h2> Your password has been changed successfully! </h2>
  <a routerLink="/users/login">Go to login page</a>
</div>
</mat-card>
