<mat-toolbar *ngIf="user">
  Welcome {{user.name}} {{user.surname}}
</mat-toolbar>

<!--TODO replace with picture-->
<!--<div style="height: 200px; width: 400px; text-align: center; background: cadetblue; margin: auto">
  <h2>
    <img src= "">
  </h2>
</div>-->

<div class = "image">
  <img src= "https://images.squarespace-cdn.com/content/v1/53e4ea80e4b0a79b40480ad4/1578152957060-9JVNLGYI34LOQG7HW5ZB/ke17ZwdGBToddI8pDm48kIz-qqdk7XmuoFGiWf_8gIh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmW5SZw0zY0wEgct1jJcv4nJfdkwbZuU6zGdDzKRYNvPg9-8KC2aooZJTkWcIU6V5K/YUGIOH_dan_mumford.jpg?format=1500w" width="550" height="520" alt="" class="scale">

</div>

