
table {
  width: 100%;
}

.fill-space {
  flex: 1 1 auto;
}


td.red {
  color: red;
  font-weight: bold;
}

div.red {
  outline-style: solid;
  outline-color: green;
}

td.green {
  font-weight: bold;
  color: green;
}

div.green {
  outline-style: solid;
  outline-color: green;
}
