<p>list-articles works!</p>
<mat-toolbar>
  <span>Article List</span>
  <span class="fill-space"></span>
  <button mat-button routerLink="/articles/create">Add Article</button>

</mat-toolbar>

<table [dataSource]="articles" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell> ID</th>
    <td *matCellDef="let article" mat-cell> {{article.id}} </td>
  </ng-container>

  <ng-container matColumnDef="booster set">
    <th *matHeaderCellDef mat-header-cell> Booster set</th>
    <td *matCellDef="let article" mat-cell> {{article.boosterSet}} </td>
  </ng-container>

  <ng-container matColumnDef="card name">
    <th *matHeaderCellDef mat-header-cell> Card name</th>
    <td *matCellDef="let article" mat-cell> {{article.cardName}} </td>
  </ng-container>

  <ng-container matColumnDef="edition">
    <th *matHeaderCellDef mat-header-cell> Edition</th>
    <td *matCellDef="let article" mat-cell> {{article.edition}} </td>
  </ng-container>

  <ng-container matColumnDef="rarity">
    <th *matHeaderCellDef mat-header-cell> Rarity</th>
    <td *matCellDef="let article" mat-cell> {{article.rarity}} </td>
  </ng-container>

  <ng-container matColumnDef="card type">
    <th *matHeaderCellDef mat-header-cell> Card type</th>
    <td *matCellDef="let article" mat-cell> {{article.cardType}} </td>
  </ng-container>

  <!--<ng-container matColumnDef="update">
    <th *matHeaderCellDef mat-header-cell> Update Article</th>
    <td *matCellDef="let article" mat-cell>
      <button (click)="editArticle(article)" mat-raised-button>Update</button>
    </td>
  </ng-container>-->

  <ng-container matColumnDef="delete">
    <th *matHeaderCellDef mat-header-cell> Delete Article</th>
    <td *matCellDef="let article" mat-cell>
      <button (click)="deleteArticle(article)" color="warn" mat-raised-button>Delete</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="addCard">
    <th *matHeaderCellDef mat-header-cell> Add Card</th>
    <td *matCellDef="let article" mat-cell>
      <button (click)="addCard(article)" color="accent" mat-raised-button>Add</button>
    </td>
  </ng-container>



  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
