<mat-toolbar>
  <a routerLink="/" mat-raised-button>Home</a>
  <a routerLink="/articles/list" mat-flat-button>Articles</a>
  <a routerLink="/stockitems/list" mat-stroked-button>Stock Items</a>
  <a routerLink="/cardstorage/list" mat-button>Storage</a>
  <a routerLink="/users/list" mat-button color="accent">Users</a>
  <a routerLink="/users/roles/list" mat-button color="warn">Roles</a>
  <a routerLink="/users/edit" mat-button>My Profile</a>
  <span class="spacer"></span>
  <app-logout></app-logout>
</mat-toolbar>
