<header *ngIf="userInfo">
  <h1> Yugioh Storage </h1>
<mat-toolbar *ngIf="userInfo.role.role=='ROLE_ADMINISTRATOR'">
  <a class="header-button" routerLink="/" mat-stroked-button>Home</a>
  <a class="header-button" routerLink="/articles/list" mat-stroked-button>Articles</a>
  <a class="header-button" routerLink="/stockitems/list" mat-stroked-button>Stock Items</a>
  <a class="header-button" routerLink="/cardstorage/list" mat-stroked-button>Storage</a>
  <a class="header-button" routerLink="/users/list" mat-stroked-button >Users</a>
  <a class="header-button" routerLink="/users/roles/list" mat-stroked-button >Roles</a>
  <a class="header-button" routerLink="/users/edit" mat-stroked-button>My Profile</a>
  <span class="spacer"></span>

  <app-logout></app-logout>
</mat-toolbar>

<mat-toolbar *ngIf="userInfo.role.role!='ROLE_ADMINISTRATOR'">
  <a class="header-button" routerLink="/" mat-stroked-button>Home</a>
  <a class="header-button" routerLink="/stockitems/list" mat-stroked-button>Stock Items</a>
  <a class="header-button" routerLink="/users/edit" mat-stroked-button>My Profile</a>
  <span class="spacer"></span>

  <app-logout></app-logout>
</mat-toolbar>
</header>
