<h2>Enter your new safe password below and click "Submit"!</h2>
<form [formGroup]="form" *ngIf="!resetEmailSent">
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="text" formControlName="email" matInput>
    </mat-form-field>
    <br>
    <button [disabled]="!form.valid" mat-stroked-button color="primary" (click)="reset()">Reset</button>
    <button mat-stroked-button color="accent" (click)="goToRegister()">
      Cancel
    </button>
  </div>
</form>
<div *ngIf="resetEmailSent">
  <h2>Reset email has been sent to Your email address</h2>
</div>

