<mat-dialog-content>
  <h2>Add new card and click "Save"!</h2>
  <form [formGroup]="stockItemCreationForm">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Booster Set</mat-label>
        <input [readonly]="true" matInput type="text" value="{{stockItemV.boosterSet}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Card Name</mat-label>
        <input [readonly]="true" matInput type="text" value="{{stockItemV.cardName}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Card Type</mat-label>
        <input [readonly]="true" matInput type="text" value="{{stockItemV.cardType}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Edition</mat-label>
        <input [readonly]="true" matInput type="text" value="{{stockItemV.edition}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Rarity</mat-label>
        <input [readonly]="true" matInput type="text" value="{{stockItemV.rarity}}">
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Card value</mat-label>
        <input formControlName="cardValue" matInput type="number">
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Card value when sold</mat-label>
        <input formControlName="cardValueWhenSold" matInput type="number">
      </mat-form-field>
      <br>

      <mat-checkbox class="example-margin" formControlName="inShop">Is it posted in the shop?</mat-checkbox>

      <br>
      <mat-form-field appearance="fill">
        <mat-label>Card condition</mat-label>
        <mat-select formControlName="cardCondition">
          <mat-option *ngFor="let cardCondition of cardCondition" [value]="cardCondition">
            {{cardCondition}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Card Storage</mat-label>
        <mat-select formControlName="cardStorage" [compareWith]="objectComparisonFunction">
          <mat-option *ngFor="let cardStorage of cardStorageArr" [value]="cardStorage">
            {{cardStorage.storageName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Add your comments about the condition of the card or anything else</mat-label>
        <input formControlName="comments" matInput type="text">
      </mat-form-field>
      <br>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="saveStockItem()" [disabled]="buttonDisabled" class="dialog-action-button" mat-button>Update</button>
  <button (click)="close()" class="dialog-action-button" mat-button>Cancel</button>
</mat-dialog-actions>
