<h2>Edit the information and click on "Update!</h2>
<div class="update-dialog">
  <H2>Edit the information and click on "Update!"</H2>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Booster Set</mat-label>
      <input [readonly]="true" matInput type="text" value="{{stockItem.boosterSet}}">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card Name</mat-label>
      <input [readonly]="true" matInput type="text" value="{{stockItem.cardName}}">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card Type</mat-label>
      <input [readonly]="true" matInput type="text" value="{{stockItem.cardType}}">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Edition</mat-label>
      <input [readonly]="true" matInput type="text" value="{{stockItem.edition}}">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Rarity</mat-label>
      <input [readonly]="true" matInput type="text" value="{{stockItem.rarity}}">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card Type</mat-label>
      <input [readonly]="true" matInput type="text" value="{{stockItem.cardType}}">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card Condition</mat-label>
      <mat-select [(ngModel)]="stockItem.cardCondition">
        <mat-option *ngFor="let type of cardCondition" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card value</mat-label>
      <input [(ngModel)]="stockItem.cardValue" matInput type="number">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card value when sold</mat-label>
      <input [(ngModel)]="stockItem.cardValueWhenSold" matInput type="number">
    </mat-form-field>
    <br>

    <mat-checkbox [(ngModel)]="stockItem.inShop" class="example-margin">Is it posted in the shop?
    </mat-checkbox>


  </div>
  <button mat-button (click)="saveStockItem()" [disabled]="buttonDisabled">Update</button>
  <button (click)="close()" mat-button>Cancel</button>
</div>
