<div class="update-dialog">
  <H2>Edit the information and click on "Update!"</H2>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Booster Set</mat-label>
      <input [readonly]="true" matInput type="text" value="{{stockItem.article.boosterSet}}">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card Name</mat-label>
      <input [readonly]="true" matInput type="text" value="{{stockItem.article.cardName}}">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card Type</mat-label>
      <input [readonly]="true" matInput type="text" value="{{stockItem.article.cardType}}">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Edition</mat-label>
      <input [readonly]="true" matInput type="text" value="{{stockItem.article.edition}}">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Rarity</mat-label>
      <input [readonly]="true" matInput type="text" value="{{stockItem.article.rarity}}">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card Type</mat-label>
      <mat-select [(ngModel)]="stockItem.article.cardType">
        <mat-option *ngFor="let type of cardType" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card Condition</mat-label>
      <mat-select [(ngModel)]="stockItem.cardCondition">
        <mat-option *ngFor="let type of cardCondition" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card value</mat-label>
      <input [(ngModel)]="stockItem.cardValue" matInput type="number">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Card value when sold</mat-label>
      <input [(ngModel)]="stockItem.cardValueWhenSold" matInput type="number">
    </mat-form-field>
    <br>

    <mat-checkbox [(ngModel)]="stockItem.inShop" class="example-margin">Is it posted in the shop?
    </mat-checkbox>


  </div>

  <button (click)="saveStockItem()" [mat-dialog-close]="stockItem" mat-button>Update</button>
  <button (click)="close()" mat-button>Cancel</button>
</div>
