@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; background-color: #f5f5f5}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dialog-action-button{
  width: 50%;
  margin-top: 10px;
}


mat-form-field {
  width: 100%;
}


.form-filtering{
  font-size: 14px;
  width: 100%;
}
