<mat-toolbar>
  <span>Storages List</span>
  <span class="fill-space"></span>
  <button mat-button routerLink="/storages/create">Add Storage</button>

<mat-toolbar>
  <span>List of all Card Storages </span>
  <span class="fill-space"></span>
  <button mat-button routerLink="/cardStorage/create">Add Card Storage</button>
</mat-toolbar>

<table [dataSource]="cardStorage" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell> ID</th>
    <td *matCellDef="let cardStorage" mat-cell> {{cardStorage.id}} </td>
  </ng-container>

  <ng-container matColumnDef="storageName">
    <th *matHeaderCellDef mat-header-cell> Storage name</th>
    <td *matCellDef="let cardStorage" mat-cell> {{cardStorage.storageName}} </td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th *matHeaderCellDef mat-header-cell> Update Storage</th>
    <td *matCellDef="let cardStorage" mat-cell>
      <button (click)="editCardStorage(cardStorage)" mat-raised-button>Update</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th *matHeaderCellDef mat-header-cell> Delete Storage</th>
    <td *matCellDef="let cardStorage" mat-cell>
      <button (click)="deleteCardStorage(cardStorage)" color="warn" mat-raised-button>Delete</button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
